@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#777,#111);
  min-height: 100vh;
}
.card
{
  position: relative;
  width: 340px;
  height: 450px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
}
.circle
{
  position: absolute;
  top: -190px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 500px;
  clip-path: circle();
  background: #f00;
}
.circle::before
{
  content: '';
  position: absolute;
  top: -8px;
  left: -16px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 0 20px rgba(255,0,0,0.5);
  z-index: 10000;
  pointer-events: none;
}
.imgBx
{
  position: absolute;
  width: 340px;
  height: 310px;
  background: #ff0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1000;
}
.imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  transform-origin: top;
}
.imgBx:hover img
{
  transform: scale(1.5);
}
.content
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  padding: 20px 30px;
}
.fa-linkedin
{
  background: #0e76a8 ;
  padding: 2px 4px;
  color: #fff;
  border-radius: 2px;
}
h3
{
  margin: 7px 0 2px;
  font-size: 1.4em;
  font-weight: 700;
  color: #333;
}
.text
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text h4
{
  font-weight: 500;
  color: #e91e63;
}
.text a .fa 
{
  color: #e91e63;
}