@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body
{
  background: #fff;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top,#fff,transparent);
  z-index: 10000;
}
section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#man 
{
  transform-origin: bottom;
}
h2#text
{
  position: relative;
  color: #fff;
  font-size: 10vw;
}
.sec
{
  position: relative;
  min-height: 500px;
  padding: 100px;
}
.sec h2
{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #20496a;
}
.sec p
{
  font-size: 1.2em;
  color: #20496a;
}
.content
{
  position: relative;
  z-index: 100000;
}