*
{
	margin: 0;
	padding: 0;
}
body
{
	overflow: hidden;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  	cursor: url('apple.png'), pointer;
}
.arrow
{
	position: absolute;
}