*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #191e38;
	font-family: monospace;
	transform-style: preserve-3d;
}
.circle
{
	transform-style: preserve-3d;
}
.circle .char
{
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    padding: 5px 12px;
    font-size: 4em;
    background: #ff005e;
    transform-origin: center;
    transform-style: preserve-3d;
    pointer-events: none;
    border-top: 15px solid #ffffff;
    border-bottom: 15px solid #ffffff;
    text-shadow: 500px 150px 0 rgba(255,255,255,0.5),
    			300px 150px 10px rgba(255,255,255,0.5),
    			150px 600px 0px rgba(255,255,255,0.5),
    			600px 50px 0 rgba(255,255,255,0.5),
    			400px 350px 10px rgba(255,255,255,0.5),
    			200px 500px 0 rgba(255,255,255,0.5),
    			 500px -150px 0 rgba(255,255,255,0.5),
    			300px -150px 10px rgba(255,255,255,0.5),
    			150px -600px 0px rgba(255,255,255,0.5),
    			600px -50px 0 rgba(255,255,255,0.5),
    			400px -350px 10px rgba(255,255,255,0.5),
    			200px -500px 0 rgba(255,255,255,0.5);
    transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(250px);
}